
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

/* Header Component */

.nav {
  min-height: 5rem;
  width: 100vw;
  background: var(--secondary-background);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
}

.nav__link {
  font-size: 1.5rem;
}

